.feynman__title {
  /* margin: 0 auto; */
  margin: 100px auto 0;
  padding: 0px;
  /* padding-top: 100px; */
  width: 648px;

  font-size: 120px;
  font-weight: 600;
  line-height: 1.15;
  text-align: center;
}
